<!DOCTYPE html>
{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/new.css" %}">
    <title>access information</title>
</head>
<body>
    <h1>Information of date accessed on</h1>
    <div class="infotable">
        {% if access_records %}
            <table>
                <thead>
                    <th>Site Name</th>
                    <th>Date Access</th>
                </thead>
            {% for acc in access_records %}
                <tr>
                    <td> {{acc.name}}</td>
                    <td> {{acc.date}}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>NO access record found!</p>
        {% endif %}
    </div>

</body>
</html>